{% extends 'base.html.twig' %}

{% block title %}New Bestelling{% endblock %}

{% block body %}
    <h1>Maak een Bestelling</h1>

    {{ include('bestelling/_form.html.twig') }}
<br>
    <a href="{{ path('bestelling_index') }}"><button class="btn btn-primary">Terug naar lijst</button></a>
{% endblock %}
